@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
ul, li, a {
  list-style: none;
  text-decoration: none;
}

.cards {
  width: 100vw;
  max-width: 1300px;
  margin: 130px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-card {
  width: 80px;
  height: 80px;
  margin: 25px 0;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 230px;
  background: #186383;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow:0px 0px 0px 5px rgb(255, 255, 255) inset;
  transition: all .3s;
} 
.text-card {
  color: rgba(255, 255, 255, 0.884);
}
.card:hover {
  transform: translateY(-10px);
} 